/* ===== 기본 스타일 - 데스크탑 기준 ===== */
body {
  max-width: 80vw;
  align-items: center;
  font-size: 1rem;
}
header {
  padding: 2rem;
  border-bottom: 0.22rem solid black;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.post {
  padding: 1.5rem;
  border: 0.2rem solid black;
}
aside {
  width: 25vw;
  padding: 1.5rem;
  margin-right: 2vw;
}
footer {
  padding: 1.5rem;
  border-top: 0.2rem solid black;
}
/* 상대단위 */
h1 {
  font-size: 2.5rem;
}
section {
  margin: 2vw;
}
aside {
  font-size: 1em;
}

/* ===== 미디어 쿼리 ===== */
/* 태블릿 >>> 스크린 and 너비 최대 1023px 이하일 때 */
@media screen and (max-width: 1023px) {
  body {
    max-width: 90vw;
  }
  #posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* 간격 축소 임의 조절하려면 tify-content:scenter;에 gap:줄일만큼 숫자; 해도 됨 */
  }
  aside {
    width: 30vw;
    margin: 0;
    padding: 0.5rem;
  }
}

/* 모바일 >>> 스크린 and 너비 최대 767px 이하일 때 */
@media screen and (max-width: 767px) {
  body {
    max-width: 100%;
    padding: 1rem;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  aside {
    width: 100%;
    margin: 1rem;
  }
}
